Tugas 5 Pembuatan Agen AI Chatbot Web dengan Data di Supabase Vector Store dari File Google Docs.json
{
  "name": "Tugas 5 Pembuatan Agen AI Chatbot Web dengan Data di Supabase Vector Store dari File Google Docs",
  "nodes": [
    {
      "parameters": {
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file_id",
                "value": "={{ $('Download file1').item.json.id }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        720,
        176
      ],
      "id": "f2888fc6-620e-45e8-8038-aec1fae3b04c",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        544,
        16
      ],
      "id": "d91d707b-a769-4cf7-8f17-e9947d81be36",
      "name": "Supabase Vector Store",
      "notesInFlow": false,
      "credentials": {
        "supabaseApi": {
          "id": "dq5BDruLxtdHTtMp",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        528,
        256
      ],
      "id": "bd519a46-c0cf-4c60-916e-a046959b3c8f",
      "name": "Embeddings Google Gemini",
      "executeOnce": true,
      "credentials": {
        "googlePalmApi": {
          "id": "mwpRn6ViIqK4YzxT",
          "name": "Google Gemini Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "Kamu adalah asisten AI khusus untuk membantu mahasiswa dalam memahami penulisan skripsi dan karya ilmiah.\n\nGunakan data dari Supabase Vector Store sebagai sumber utama jawaban.\n\nAturan dalam menjawab:\n\nJawaban harus relevan dengan pertanyaan pengguna.\nAmbil informasi dari dokumen yang tersedia, jangan mengarang.\nJika data tidak ditemukan, katakan dengan jelas bahwa informasi tidak tersedia.\nGunakan bahasa Indonesia yang jelas, ringkas, dan mudah dipahami.\nFokus pada penjelasan praktis (contoh, langkah-langkah, atau definisi jika diperlukan)."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        608,
        448
      ],
      "id": "6d708dfa-729c-4ad4-9480-92383df95127",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        624,
        640
      ],
      "id": "6628fefc-bd67-4371-a46e-fe68a7cb6d51",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "mwpRn6ViIqK4YzxT",
          "name": "Google Gemini Api account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Panggil Tool Supabase Vector Store ini untuk menjawab pertanyaan tentang penulisan ilmiah mahasiswa STT-NF",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        976,
        624
      ],
      "id": "9bc266f1-69f7-445e-94b5-75f625be58bb",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "dq5BDruLxtdHTtMp",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "public": true,
        "initialMessages": "Halo! 👋\nAku AI Assistant yang siap membantu kamu memahami penulisan skripsi 📚\n\nMau tanya tentang BAB, metodologi, atau cara bikin skripsi yang benar? Langsung aja ya! 😊\n",
        "options": {
          "title": "AI Skripsi 🤖 \n Asisten Penulisan Ilmiah"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        224,
        416
      ],
      "id": "d0dc3b4b-60bd-480d-8a6e-b4f064690d81",
      "name": "When chat message received",
      "webhookId": "17ae095d-fa06-4f3c-b38b-19a697e68ff2"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        800,
        672
      ],
      "id": "cebf7387-bbbf-4417-8c16-cb89346be2cd",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "68FlrRgHqgDpk2Lt",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1ag96DAzaU_6Ce-FnKjwsYWIQkOH3kKfR",
          "mode": "list",
          "cachedResultName": "rag-supabase-1",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1ag96DAzaU_6Ce-FnKjwsYWIQkOH3kKfR"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -320,
        16
      ],
      "id": "d2b89dd5-b4b2-49a8-8791-b8a6c1eadc3b",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Y5EeOGUdvn5Fq2aG",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0eb40ded-1d9a-4b69-9c59-6c3cd7652b53",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -96,
        16
      ],
      "id": "5dfe436a-8590-4178-9cb4-bcffba77e005",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        144,
        16
      ],
      "id": "ac73fa86-77fb-49d5-add9-43c27a6cb455",
      "name": "Download file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Y5EeOGUdvn5Fq2aG",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        352,
        16
      ],
      "id": "bb706ad0-bd35-475e-8550-8cf3f5d21c7c",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1088,
        272
      ],
      "id": "a8792946-0654-43f8-ad5c-05c79878e72a",
      "name": "Recursive Character Text Splitter"
    }
  ],
  "pinData": {},
  "connections": {
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Download file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file1": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "a8988697-92a6-442b-bbd9-1daa2f9c742e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3e0b4f724eba39d02658f2e270caf1a994e17f3af49f4649394e158550ecfffb"
  },
  "id": "noYRm86YxkH1KPZH",
  "tags": []
}